
/* Start Gloabal */
*
{
    -wibkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    
}

body
{
    background: transparent;
}

.container
{
    width: 1000px;
    margin: auto;
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}
.navbar,
.header,
.serves,
.our-project,
.footer,
.testim
{
    min-width: 1200px;
}
a
{
    text-decoration: none;
}
/* End Gloabal */

/* Start Navbar */


.navbar
{
    
    z-index: 2;
    height: 150px;
    background-color: #eee;
    background-image: url(../img/ironpatern.png);
    
}
.navbar .brand
{
    float: left;
    width: 50%;
    font-size: 20px; 
    margin-top: 18px;
} 



.navbar .brand a
{
    color: #585551;
    font-size: 30px;
    font-family: inherit;
    font-weight: bold;
}
.navbar h2
{
    margin: 35px 0;
}

.navbar .links
{
    float: left;
    width: 50%;
    margin-top: 15px;
}
.navbar .links li
{
    display: inline-block;
    padding: 10px 0;
    margin: 35px 10px;
    font-family: monospace;
    font-size: 18px;
    
}
.navbar .links li a
{
    text-decoration: none;
    color: #848079;
}
.navbar .links li .home a,
.navbar .links li a:hover
{
    border-bottom: 2px solid #1abc9c;
    color: #1abc9c;
}
 
/* End Navbar */

/* Start Moocs */
.main
{
    height: 700px;
}
.main .soon
{
    margin: 100px;
    text-align: center;
    border: 5px solid #F00;
    border-radius: 80px;
    box-shadow: 5px 5px 15px #0F0,
                -5px -5px 15px #1abc9c;
}
.main .name
{
    float: left;
    width: 23%;
    margin-right: 2%;
    margin: 20px 0;
}
.main .video
{
    float: left;
    width: 55%;
    margin: 20px 0;
    text-align: center;
}
.main .status
{
    float: left;
    width: 18%;
    margin-right: 2%;
    margin: 20px 0;
    text-align: right;
}

/* End Moocs */

/* Start Footer */

.footer
{
    background-color: #232323;
    color: #6C6C6C;
    padding: 40px 0;
    overflow: hidden;
}
.footer .col
{
    width: 33.3333%;
    float: left;
}

.footer .col h2
{
    color: #FFF;
    font-weight: normal;
    font-size: 20px;
}
.footer .col p
{
    margin-bottom: 20px;
    line-height: 1.4;
}
.footer .col i
{
    display: inline-block;
    width: 50px;
    padding: 10px 9px;
    border: 1px solid #979797;
    color: #979797;
    margin: 3px;
}
.footer .tags span
{
    display: inline-block;
    padding: 7px;
    border: 1px solid #E7E7E7;
    color: #CCC;
    margin-right: 5px;
    margin-top: 10px;
}
.footer .copyright
{
    margin-top: 0px;
}
.footer .post > div 
{
    overflow: hidden; 
    margin-bottom: 10px;

}
.footer .post > div img
{
    float: left;
    margin-right: 10px;
}
.footer .post h4
{
    margin: 0;
    margin-bottom: 5px;
    font-weight: normal;
    color: #CCC;
}
.footer .blog ul li
{
    padding: 15px;
    border-bottom: 1px solid #979797;
    color: #CCC;
}
.footer .blog h2
{
    color: aqua;
}

/* End Footer */
/* Start clear fix */

.clearfix
{
    clear: both;
}
.special-heading
{
    position: relative;
}


.special-heading:after
{
    content: "";
    position: absolute;
    left: 0;
    top: 40px;
    width: 45px;
    border: 2px solid #909090;
}
/* End Clear Fix */
